*{
    margin: 0;
    padding: 0;
    
    
}

body{
    font-family: Viga;
    
}


@font-face {
    font-family: 'viga';
    src: url('../font/Viga-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


/* mulai di sini */

.container{
    display: flex;
    width: auto;
    
}

aside{
    width: 20%;
    height: 650px; 
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    
    

}
.main{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    
}
.info1{
    width: 50%;
}

/* icon SmartLearn */


.icon-name{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    color: #197278;
    font-size: 25px;
}

/* Navigasi */
img{
    width: 35px;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}
.navigasi{
    display: flex;
    margin: 20px;
    justify-content: first baseline;
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
}

/* atur text pada navigasi */
.menu1{
    margin-left: 20px;
    margin-top: 7px;
}

.pilihan1 span.menu1{
    color: white;
}
/* atur gambar pada navigasi */
.img1 img{
    width: 40px;
}

/* menu pilihan */
span.pilihan1{
    background-color: #197278;
    border-radius: 10px;
}

/* warna style font pilihan */
nav a{
    text-decoration: none;
}

.pilihan2,.pilihan3,.pilihan4{

   color: #197278;
}

/* hover */
.pilihan2:hover,.pilihan3:hover,.pilihan4:hover{

    background-color: gray;
    border-radius: 10px;
    transition: 0.2;
    color: white;
}

/* mata pelajaran */

.course{
    margin: 20px;
    width: 180px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.ref{
    width: 180px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    text-decoration: none;
    color: #EDDDD4;
}
.gambar{
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    margin: 20px;
}


.gambar img{
    width: 150px;
    /* border: 1px black solid; */
}
.gambar p{
    text-align: center;
    margin-top: 10px;
}
.bahasa-inggris a .gambar{
    margin-top: 40px;
}
.bahasa-inggris a .gambar p{
    margin-top: 20px;
    color: #772E25;
}
.ips a .gambar p{
    color: #772E25;
}
/* matematika */
.matematika{
    background-color: #772E25;
    color: #EDDDD4;
}

/* ipa */
.ipa{
    background-color: #197278;
    color: #FFF2CF;
}

/* ips */
.ips{
    background-color: #EDDDD4;
    color: #772E25;

}
.ips img{
    width: 120px;
}

/* bahasa-inggris */
.bahasa-inggris{
    background-color: #FFF2CF;
    color: #197278;
}

/* info1 */
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 30px;

}


.info1{
    margin-top: 50px;
    width: 500px;
    height: 130px;
    border-radius: 10px;
    background-color: #197278;
    color: white;
    font-size: 15px;
    
}
.info2 p{
    margin: 10px;
    margin-top: 20px;
}

.info2{
    margin-top: 50px;
    width: 500px;
    height: 130px;
    border-radius: 10px;
    background-color: #197278;
    color: white;
    font-size: 15px;
    
}
.info1 p{
    margin: 10px;
    margin-top: 20px;
}
.info1 a{
    text-decoration: none;
    color: #197278;
}
.tombol-papan-skor:hover{
    background-color: #6e717a;
    color: white;
    transition: 0.3;
}
.tombol-papan-skor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #EDDDD4;
    margin: 10px;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
}
 

